@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 100%;
}

header .title {
  color: rgb(120, 120, 120);

  font-weight: 200;
}
header p {
  width: 500px;
  text-align: center;
  color: rgb(120, 120, 120);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first,
.second,
.third,
.fourth {
  width: 350px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 200px;
  border-radius: 0.6rem;
  padding: 20px;
  border-bottom: 25px;
}
.card h3 {
  margin-bottom: 15px;
}
.card p {
  font-size: 12px;
  width: 250px;
  margin-bottom: 15px;
  color: rgb(120, 120, 120);
}
.icons {
  float: right;
}
.first {
  margin-right: 25px;
  border-top: 5px solid var(--cyan);
}
.second,
.third {
  margin-bottom: 25px;
  margin-right: 25px;
}
.second {
  border-top: 5px solid var(--red);
}
.third {
  border-top: 5px solid var(--orange);
}
.fourth {
  margin-right: 25px;
  border-top: 5px solid var(--blue);
}
@media screen and (max-width: 600px) {
  .container {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 100%;
  }
  header .title {
    color: rgb(120, 120, 120);
    font-size: 1.6rem;
    font-weight: 400;
  }
  header .title-bold {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  header p {
    width: 300px;
    text-align: center;
    font-size: 15px;
    color: rgb(120, 120, 120);
  }
  .first {
    margin-bottom: 25px;
  }
  .first,
  .second,
  .third,
  .fourth {
    margin: 0 0 25px 0;
  }
}
